@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";


body{
  font-family:'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}
nav > ul li{
  position: relative;
  padding-bottom: 0.3em;
  cursor: pointer;
  /* color: hsla(0, 0%, 100%, .6); */
}
nav > ul li::after{
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: width 0.4s ease-in-out;
}
nav > ul li:hover::after{
  width: 100%;
}

/* Get started button - cta */
.cta{
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  z-index: 1;
}
.cta::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  /* color:#8b25ad; */
  background-color: #000814;
  transition: left 0.4s ease-in;
  z-index: -1;
}
.cta:hover::before{
  left: 0;
}
.cta:hover{
  border: 2px solid #471359;
}

/* hamburg / close button */
.mobile-toggle{
  display: none;
}

/* animated icon */
.arrow-right > *{
  animation-name: arrow-right;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes arrow-right{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}

/* header media queries */
@media(max-width:700px) {
  nav > ul{
    position: fixed;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 3em;
    inset: 0 0 0 36%;
    z-index: 999;
    background-color: hsla(0, 0%, 0%,0.1);
    backdrop-filter: blur(1rem);
    margin: 0;
    padding-block-start: 10em;
    padding-inline-start: 4em;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  nav > ul[data-visible="true"]{
    transform: translateX(0%);
  }
  nav > ul li{
    color: #fff;
  }

  /* cta button */
  .cta-btn{
    margin: 0 auto;
  }
  /* mobile-toggle */
  .mobile-toggle{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 3rem;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: 0;
    z-index: 9999;
  } 
  .mobile-toggle > .bar{
    background-color: #fff;
    height: 3px;
    border-radius: 8px;
    transition: transform 0.4s ease-in-out;
  }
  .mobile-toggle > .bar:nth-child(1){
    width: 70%;
  }
  .mobile-toggle > .bar:nth-child(2){
    width: 100%;
  }
  .mobile-toggle > .bar:nth-child(3){
    width: 70%;
  }

  .mobile-toggle[aria-expanded="true"] .bar:nth-child(1){
    transform: translateY(10px) rotate(48deg);
  }
  .mobile-toggle[aria-expanded="true"] .bar:nth-child(2){
    opacity: 0;
  }
  .mobile-toggle[aria-expanded="true"] .bar:nth-child(3){
    transform: translateY(-12px) rotate(-51deg);
  }
}

/* feedback section */
.cta2{
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  z-index: 1;
}
.cta2::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: left 0.4s ease-in;
  z-index: -1;
}
.cta2:hover::before{
  left: 0;
}
.cta2:hover{
  border: 2px solid #471359;
  color: #471359;
  /* background-color: #fff; */
}

.grad{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media(min-width:768px){
  .grad{
    grid-template-columns: repeat(2,1fr);
    gap:2rem 3rem
  }
}
@media(min-width:1024px){
  .grad{
    gap: 2.5rem 4rem;
  }
}
@media(min-width:640px) and (max-width:760px){
  .con{
  display: flex;
  flex-direction: column;
}
}
